<!DOCTYPE html>
<html>
<head>
	<title>formUpdate</title>
	<link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
</head>
<body>
<form action="/forminsert" method="post">
    <label for="">firstname</label>
    <input type="text" id="firstname" name="firstname" value="name">
    <br>
    <label for="">lastname</label>
    <input type="text" id="lastname" name="lastname" value="lname">
    <br>
    <label for="">email</label>
    <input type="text" id="email" name="email" value="email">
    <br>
    <input type="submit" value="Insert">               
</form>

</body>
</html>
